{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Burger</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static '../static/img/favicon.png' %}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static '../static/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/animate.css' %}">
    <link rel="stylesheet" href="{% static '../static/css/slicknav.css'%}">
    <link rel="stylesheet" href="{% static '../static/css/style.css' %}">
{#    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">#}
</head>

<body>
<!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-5 col-lg-5">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/">home</a></li>
                                        <li><a href="/menu" class="active">Menu</a></li>
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/blog">blog <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="/blog">blog</a></li>
                                                <li><a href="/single-blog">single blog</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="">Pages <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="/pages">elements</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="/contact">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="/">
                                    <img src="{% static '../static/img/logo.png' %}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-5 d-none d-lg-block">
                            <div class="book_room">
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="book_btn d-none d-xl-block">
                                    <a class="#"  href="tel:+998997944262"> +998 99 794 42 62</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg overlay">
        <h3>Menu</h3>
    </div>
    <!-- bradcam_area_end -->
    {% if best_burgers.count > 0 %}
        {% include 'best_burgers.html' %}
    {% endif %}
    {% if president_burgers.count > 0 %}
        {{ president_burgers.count }}
        {% include 'presidents_burger.html' %}
    {% endif %}
    {% if hamburger_clients.count > 0 %}
        {% include 'happy_customers.html' %}
    {% endif %}

    {% include 'insta_publis.html' %}

    {% include 'footer.html' %}
        <!-- JS here -->
    <script src="{% static '../static/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static '../static/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static '../static/js/popper.min.js' %}"></script>
    <script src="{% static '../static/js/bootstrap.min.js' %}"></script>
    <script src="{% static '../static/js/owl.carousel.min.js' %}"></script>
    <script src="{% static '../static/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static '../static/js/ajax-form.js' %}"></script>
    <script src="{% static '../static/js/waypoints.min.js' %}"></script>
    <script src="{% static '../static/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static '../static/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static '../static/js/scrollIt.js' %}"></script>
    <script src="{% static '../static/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static '../static/js/wow.min.js' %}"></script>
    <script src="{% static '../static/js/nice-select.min.js' %}"></script>
    <script src="{% static '../static/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static '../static/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static '../static/js/plugins.js' %}"></script>

    <!--contact js-->
    <script src="{% static '../static/js/contact.js' %}"></script>
    <script src="{% static '../static/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static '../static/js/jquery.form.js' %}"></script>
    <script src="{% static '../static/js/jquery.validate.min.js' %}"></script>
    <script src="{% static '../static/js/mail-script.js' %}"></script>

    <script src="{% static '../static/js/main.js' %}"></script>
</body>
</html>